
.container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

/* HEADER */

.header {
  display: flex;
  justify-content: center;
  width: 720px;
  height: 10.8rem;
  padding: 24px 16px;
  box-shadow: 0px 1px 3px 0px #0000000F;

}

.nav-list {
  width: 22.6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chef-claude {
  width: 4.3rem;
  height: 5.2rem;
}
.nav-heading {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 6rem;
  letter-spacing: -5%;
  color: #141413;
}
/* MAIN */
form {
  display: flex;
  width: 59.4rem;
  height: 3.5rem;
  margin: 10rem 6.3rem;
  gap: 1.2rem;
  border-radius: 16px;

}

.form-input {
  outline: none;
  border: 1px solid #D1D5DB;
  border-radius: 0.6rem;
  width: 39.9rem;
  height: 3.8rem;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px #0000000D;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0%;
}

.form-button {
  width: 18.3rem;
  height: 3.8rem;
  border-radius: 0.6rem;
  padding: 9px 17px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0%;
  font-family: Arial, Helvetica, sans-serif;
  color: bisque;
  background-color: #141413;
  box-shadow: 0px 1px 2px 0px #0000000D;
}

.form-button::before{
  content: "+";
  margin-right: 0.5rem;
}
