
.container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

/* HEADER */

.nav-list {
  max-width: 720px;
  height: 10.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  box-shadow: 0px 1px 3px 0px #0000000F;


}

.chef-gamma {
  width: 4.3rem;
  height: 5.2rem;
}
.nav-heading {
  font-weight: 400;
  font-size: 3.2rem;
  color: #141413;
}
/* MAIN */

.app-main {
max-width: 594px;
margin: 0 auto;
}
form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 594px;
  height: 3.5rem;
  margin: 7rem 0rem;
  border-radius: 16px;

}

.form-input {
  outline: none;
  border: 1px solid #D1D5DB;
  border-radius: 0.6rem;
  width: 40rem;
  height: 3.8rem;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px #0000000D;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0%;
}

.form-button {
  width: 15rem;
  height: 3.8rem;
  border:none;
  border-radius: 0.6rem;
  padding: 9px 17px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0%;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  background-color: #2e2e27;
  box-shadow: 0px 1px 2px 0px #0000000D;
}

.form-button::before{
  content: "+";
  margin-right: 0.5rem;
}

/* STATE */
.state-section {
  display: flex;
  justify-content: center;
}

.State-btn {
  border: 1px solid black;
  padding: 50px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 24px;
}

li {
  font-size: 20px;
  line-height: 3rem;
}

.ingredient-heading {
  margin-bottom: 2rem;
  width: 59.4rem;
  height: 3.8rem;
  font-family: Arial;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.8rem;
  letter-spacing: 0%;
}

/* CLAUDE */

.claude-flex {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  column-gap: 2rem;
  width: 59.4rem;
  height: 10.9rem;
  border-radius: 8px;
  align-items: center;
  justify-content: space-evenly;
  background: #F0EFEB;
  padding: 5.8rem 0.8rem;
}
.claude-flex p {
  color: #6B7280;
  font-size: 1.4rem;
}
.claude-flex h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #141413;
  margin-bottom: 1.5rem;
}
.claude-flex > button {
  width: 11.5rem;
  height: 3.8rem;
  border-radius: 6px;
  padding: 9px 17px;
  background: #D17557;
  color: #FAFAF8;
  font-family: arial;
  border: none;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;




}